<div class="logo">
    <h1>Time Keeper</h1>
</div>

<ul class="custom-nav nav nav-tabs">
    <li class="<%= active?(root_path) %>">
        <%= link_to 'Home', root_path %>
    </li>
    <li class="<%= active?(posts_path) %>">
        <%= link_to 'Entries', posts_path %>
    </li>
    <li class="<%= active?(posts_path) %>">
        <%= link_to 'New Entry', new_post_path, id: 'new_post_from_nav' %>
    </li>
    <li class="<%= active?() %>">
        <%= link_to 'Add Admin Dash', root_path %>
    </li>
    <li style="postition:relative;float:right;" class="<%= active?(destroy_user_session_path) %>">
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    </li>
</ul>